{% import "utils.html" as utils %}
{% extends "layout.html" %}
{% set components = [] %}
{% block title %}Overview{% endblock %}
{% block body %}
{# Display available test result suites. #}
<h3>Function {{function.function_name}} in program {{function.application}} (file {{function.filename}})</h3>
<section id="loops">
{{ utils.render_popup_begin('loops', 'Loops', false) }}
<table class="table table-striped table-hover table-condensed sortable">
  <thead>
    <tr>
      <th rowspan="1" class="sorttable_nosort"><input type="checkbox" id="select-all-runs" onClick="selectAll(this)"></th>
      <th rowspan="1">loop_name</th>
      <th rowspan="1">Code size</th>
      <th rowspan="1">Execution time</th>
    </tr>
  </thead>
  <tbody class="searchable">

    {% for loop_name in loops %}
      <tr>
        <td><input type="checkbox" name="plot.{{loop_name.meta.id}}" value="{{loop_name.meta.id}}"></td>
        <td class="benchmark-name">
          <a href="{{ url_for('loop', id=loop_name.meta.id) }}">
            {{ loop_name.loop_id }}
          </a>
        </td>
        <td>{{loop_name.code_size}}</td>
        <td>{{loop_name.exec_time}}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  {{ utils.render_popup_end() }}
</section>

{% endblock %}
