{% import "utils.html" as utils %}
{% extends "layout.html" %}

{%
  macro render_pass_features(features)
%}

{% set properties = features[0].features_set._doc_type.mapping._d_.keys() %}
{{ utils.render_popup_begin(features[0].meta.id + range(0, 10000000) | random | string, features[0].pass_name, true) }}
    <table class="table table-striped table-hover table-condensed sortable">
    <thead>
    <tr>
      <th>Feature</th>
      <th rowspan="1">Before</th>
      <th rowspan="1">After</th>
    </tr>
  </thead>
  <tbody class="searchable">
    {% for property in properties %}
      <tr>
        <th> {{ property }} </th>
        {% for i in [0,1] %}
          <td>{{ features[i].features_set[property] }}</td>        
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {{ utils.render_popup_end() }}

{% endmacro %}

{% set components = [] %}
{% set compare_to = request_info.compare_to %}
{% set compared_loop = request_info.compared_loop %}
{% set connected_run = request_info.connected_run %}
{% set current_run = request_info.current_run %}
{% set closest_runs = request_info.closest_runs %}
{% block head %}
<style type="text/css">
  p {
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
  }
  .table thead th {
    vertical-align: middle;
  }
</style>
{% endblock %}
{% block title %}Overview{% endblock %}
{% block sidebar %}
{{ utils.render_sidebar(connected_run, closest_runs) }}
{% endblock %}
{% block body %}
{# Display available test result suites. #}
<h3>Loop {{loop.loop_id}}</h3>
<section id="features">
{{ utils.render_popup_begin('features', 'Loop Features', false) }}
<table class="table table-striped table-hover table-condensed sortable">
  <thead>
  {% if compare_to and compared_loop %}
    <tr>
        <th>{{current_run.options}}<br><p>(Current run)</p></th>
        <th>{{compare_to.options}}<br><p>(Compare to run)</p></th>
    </thead>
    <tbody class="searchable">
    {% for runs_features in runs_features_sets %}
      <td>
        {% if runs_features[0] %}
          {{ render_pass_features(runs_features[0]) }}
        {% endif %}
      </td>
      <td>
        {% if runs_features[1] %}
          {{ render_pass_features(runs_features[1]) }}
        {% endif %}
      </td>
      </tr>
    {% endfor %}
  {% else %}
    {% if features_sets %}
      {% set properties = features_sets[0][0].features_set._doc_type.mapping._d_.keys() %}
    {% else %}
      {% set properties = [] %}
    {% endif %}
    <tr>
      <th rowspan="1">Pass</th>
      <th rowspan="1">Place</th>
      {% for property in properties %}
        <th rowspan="1"> {{ property }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="searchable">

    {% for features in features_sets %}
      <tr>
        <td rowspan="2" class="benchmark-name">
            {{ features[0].pass_name }}
        </td>
        {% for i in [0,1] %}
        <td>{{features[i].place}}</td>
        {% for property in properties %}
          <td>{{features[i].features_set[property]}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    {% endfor %}
  {% endif %}
  </tbody>
  </table>
  {{ utils.render_popup_end() }}
  

</section>

{% endblock %}
