#content { margin-top:90px; }
#header { position: fixed;}
#page-content { float: left; width: 78%; height: 100%; margin-left: 22%; }
#side-bar { width: 19%; height: 100%; position: absolute; margin-left: 20px; }
